@font-face {
    font-family: title_font;
    src: url('../fonts/BioRhymeExpanded-ExtraBold.otf');

}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}

#leftheader {
    background-color: whitesmoke;
    font-family: "JetBrains Mono";
}

#intro {
    background-color: cadetblue;
}

#intro2 {
    background-color: cadetblue;
}

#title {
    font-family: 'title_font';
    font-size: x-large;
}

#infoline {
    font-family: "JetBrains Mono";
}

.recipe_select p {
    font-size: x-large;
}